body {
  font-size: 1.5rem;
  font-family: "VT323", monospace, sans-serif;
  letter-spacing: 0.5ch;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  flex-direction: column;
}

.instructions {
  text-align: center;
  background-color: rgb(216, 25, 210);
  color: white;
  padding: 1rem;
}

#computer-module .instructions {
  background-color: rgb(71, 192, 53);
}

button {
  background-color: white;
  cursor: pointer;
  border: 0ch;
  font-family: inherit;
  font-size: 1.5rem;
  width: auto;
}

button:hover {
  background-color: rgb(182, 241, 229);
}

button:focus {
  background-color: rgb(182, 241, 229);
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* @media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
  }
} */

#scoreboard {
  margin: 20px;
}

#players {
  flex-direction: row;
  flex-wrap: nowrap;
}
#players p {
  flex-shrink: 0;
}

#players img {
  max-width: 50px;
}
.score {
  background-color: black;
  padding: 20px;
  color: white;
  border-radius: 5px;
  flex-shrink: 0;
  letter-spacing: 0ch;
}

.hide {
  display: none;
}
#replay {
  background-color: lightgrey;
}
div {
  text-align: center;
}
