body {
  font-size: 1.5rem;
  font-family: "VT323", monospace, sans-serif;
  letter-spacing: 0.5ch;
  box-sizing: border-box;
}
@media screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }
}

.container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.instructions {
  text-align: center;
  background-color: rgb(216, 25, 210);
  color: white;
  padding: 1rem;
}

#computer-module .instructions {
  background-color: rgb(71, 192, 53);
}

button {
  background-color: white;
  cursor: pointer;
  border: 0ch;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  transition: zoom 2s;
}

button:hover {
  background-color: rgb(182, 241, 229);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(184, 184, 184);
}

button:focus {
  background-color: rgb(182, 241, 229);
}

.selected {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(184, 184, 184);
  background-color: #cdedc7;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* @media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
  }
} */
#winner-declaration {
  background-color: rgb(252, 221, 81);
}
#scoreboard {
  margin: 20px;
}

#players {
  flex-direction: row;
  flex-wrap: nowrap;
}
#players p {
  flex-shrink: 0;
  margin: 0;
}

#players img {
  max-height: 40px;
}
.score {
  background-color: black;
  padding: 20px;
  color: white;
  border-radius: 5px;
  flex-shrink: 0;
  letter-spacing: 0ch;
}

.hide {
  display: none;
}
#replay {
  background-color: rgb(85, 229, 214);
  background-color: #cdedc7;
  color: black;
}
div {
  text-align: center;
}
#round-winner {
  margin: 0;
  padding: 0;
}
